body,
html {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.8rem;
    text-align: center;
}

.page-header,
.page-footer,
.main-content {
    margin: 30px 0;
    border: 5px solid red;
}

.main-visual,
.intro-section {
    margin: 30px;
    border: 5px solid green;
}

$introList: header, nav, content, contact;

@each $intro in $introList {
    .intro-section__#{$intro} {
        margin: 30px;
        border: 5px solid blue;
    }
}
